<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN"  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
 <plist version="1.0">

 <!--
	BBEdit codeless language module for B Machine source files.
	
	Built from the BBEedit Template
	by Michael Leuschel (https://www.stups.hhu.de)
	Date of first version: July 2019
	
	Requires BBEdit 8.0 or higher. To install, copy the file to:
		~/Library/Application Support/BBEdit/Language Modules/
		(or /Users/leuschel/Dropbox/Application Support/BBEdit/Language Modules in case you sync with DropBox)
	and relaunch BBEdit.
    This module is licenced under EPL 1.0 (http://www.eclipse.org/org/documents/epl-v10.html) 
-->
 <dict>
	 <key>BBEditDocumentType</key>
	 <string>CodelessLanguageModule</string>
	 <key>BBLMColorsSyntax</key>
	 <true/>
	 <key>BBLMIsCaseSensitive</key>
	 <true/>
	 <key>BBLMSupportsTextCompletion</key>
	 <true/>
	 <key>BBLMKeywordList</key>
	 <array>
		 <string>MACHINE</string>
		 <string>MODEL</string>
		 <string>SYSTEM</string>
		 <string>REFINEMENT</string>
		 <string>IMPLEMENTATION</string>
		 <string>REFINES</string>
		 <string>USES</string>
		 <string>INCLUDES</string>
		 <string>SEES</string>
		 <string>IMPORTS</string>
		 <string>EXTENDS</string>
		 <string>PROMOTES</string>
		 <string>SETS</string>
		 <string>FREETYPES</string>
		 <string>INITIALISATION</string>
		 <string>OPERATIONS</string>
		 <string>LOCAL_OPERATIONS</string>
		 <string>EVENTS</string>
		 <string>THEOREMS</string>
		 <string>INVARIANT</string>
		 <string>VARIANT</string>
		 <string>WITNESS</string>
         <string>DEFINITIONS</string>
         <string>ASSERTIONS</string>
         <string>ASSERT</string>
		 <string>VARIABLES</string>
		 <string>ABSTRACT_VARIABLES</string>
		 <string>CONCRETE_VARIABLES</string>
		 <string>CONSTANTS</string>
		 <string>CONSTRAINTS</string>
		 <string>ABSTRACT_CONSTANTS</string>
		 <string>CONCRETE_CONSTANTS</string>
		 <string>PROPERTIES</string>
		 <string>VALUES</string>
		 <string>SELECT</string>
		 <string>THEN</string>
		 <string>END</string>
		 <string>IF</string>
		 <string>ANY</string>
		 <string>WHERE</string>
		 <string>WHEN</string>
		 <string>ELSE</string>
		 <string>ELSIF</string>
		 <string>PRE</string>
		 <string>BEGIN</string>
		 <string>CHOICE</string>
		 <string>WHILE</string>
		 <string>DO</string>
		 <string>VAR</string>
		 <string>EITHER</string>
		 <string>OR</string>
		 <string>LET</string>
		 <string>BE</string>
		 <string>IN</string>
		 <string>CASE</string>
		 <string>OF</string>
		 
		 <string>ref</string>
		 
		 <string>RULES_MACHINE</string>
		 <string>RULE_ANY</string>
		 <string>RULE_FORALL</string>
		 <string>RULEID</string>
		 <string>RULE</string>
		 <string>COMPUTATION</string>
		 <string>DEPENDS_ON_COMPUTATION</string>
		 <string>DEPENDS_ON_RULE</string>
		 <string>COUNTEREXAMPLE</string>
		 <string>EXPECT</string>
		 <string>ERROR_TYPE</string>
		 <string>ERROR_TYPES</string>
		 <string>BODY</string>
		 <string>REFERENCES</string>
		 <string>SUCCEEDED_RULE</string>
		 <string>FAILED_RULE</string>
		 <string>GET_RULE_COUNTEREXAMPLES</string>
		 <string>FUNCTION</string>
		 <string>PRECONDITION</string>
		 <string>DEFINE</string>
		 <string>TYPE</string>
		 <string>VALUE</string>
	 </array>
	 
	 <key>BBLMPredefinedNameList</key>
	 <array>
		 <string>bfalse</string>
		 <string>btrue</string>
		 <string>skip</string>
		 <string>id</string>
		 <string>closure</string>
		 <string>closure1</string>
		 <string>iterate</string>
		 <string>pred</string>
		 <string>succ</string>
		 <string>prj1</string>
		 <string>prj2</string>
		 <string>ran</string>
		 <string>dom</string>
		 <string>POW</string>
		 <string>POW1</string>
		 <string>NAT</string>
		 <string>NAT1</string>
		 <string>INT</string>
		 <string>INTEGER</string>
		 <string>NATURAL</string>
		 <string>NATURAL1</string>
		 <string>MININT</string>
		 <string>MAXINT</string>
		 <string>STRING</string>
		 <string>FIN</string>
		 <string>FIN1</string>
		 <string>card</string>
		 <string>union</string>
		 <string>UNION</string>
		 <string>inter</string>
		 <string>INTER</string>
		 <string>PI</string>
		 <string>SIGMA</string>
		 <string>mod</string>
		 <string>seq</string>
		 <string>seq1</string>
		 <string>iseq</string>
		 <string>iseq1</string>
		 <string>perm</string>
		 <string>size</string>
		 <string>rev</string>
		 <string>first</string>
		 <string>last</string>
		 <string>front</string>
		 <string>tail</string>
		 <string>conc</string>
		 <string>max</string>
		 <string>min</string>
		 <string>or</string>
		 <string>not</string>
		 <string>bool</string>
		 <string>BOOL</string>
		 <string>TRUE</string>
		 <string>FALSE</string>
		 <string>fnc</string>
		 <string>rel</string>
		 <string>rec</string>
		 <string>struct</string>
		 <string>left</string>
		 <string>right</string>
		 <string>tree</string>
		 <string>btree</string>
		 <string>top</string>
		 <string>postfix</string>
		 <string>mirror</string>
		 <string>prefix</string>
		 <string>infix</string>
		 <string>sons</string>
		 <string>bin</string>
		 <string>son</string>
		 <string>arity</string>
		 <string>subtree</string>
		 <string>rank</string>
		 <string>father</string>
		 <string>const</string>
		 <string>sizet</string>
		 <string>ceiling</string>
		 <string>floor</string>
		 <string>real</string>
		 <string>DESCRIPTION_FOR_SETUP_CONSTANTS</string>
		 <string>DESCRIPTION_FOR_INITIALISATION</string>
		 <string>SET_PREF_ALLOW_COMPLEX_LETS</string>
		 <string>SET_PREF_ALLOW_LOCAL_OPERATION_CALLS</string>
		 <string>SET_PREF_ALLOW_INCOMPLETE_SETUP_CONSTANTS</string>
		 <string>SET_PREF_CHR</string>
		 <string>SET_PREF_CLPFD</string>
		 <string>SET_PREF_COMPRESSION</string>
		 <string>SET_PREF_CSE</string>
		 <string>SET_PREF_DATA_VALIDATION</string>
		 <string>SET_PREF_DEFAULT_SETSIZE</string>
		 <string>SET_PREF_DOUBLE_EVALUATION</string>
		 <string>SET_PREF_EXPAND_BECOMES_SUCH</string>
		 <string>SET_PREF_EXPAND_FORALL_UPTO</string>
		 <string>SET_PREF_IGNORE_PRJ_TYPES</string>
		 <string>SET_PREF_INVARIANT_CHECKING</string>
		 <string>SET_PREF_KODKOD</string>
		 <string>SET_PREF_KODKOD_ONLY_FULL</string>
		 <string>SET_PREF_KODKOD_MAX_NR_SOLS</string>
		 <string>SET_PREF_KODKOD_SYMMETRY</string>
		 <string>SET_PREF_KODKOD_SAT_SOLVER</string>
		 <string>SET_PREF_LIFT_EXISTS</string>
		 <string>SET_PREF_MAXINT</string>
		 <string>SET_PREF_MAX_DISPLAY_SET</string>
		 <string>SET_PREF_MAX_INITIALISATIONS</string>
		 <string>SET_PREF_MAX_OPERATIONS</string>
		 <string>SET_PREF_MEMO</string>
		 <string>SET_PREF_MININT</string>
		 <string>SET_PREF_OPTIMIZE_AST</string>
		 <string>SET_PREF_OPERATION_REUSE</string>
		 <string>SET_PREF_PGE</string>
		 <string>SET_PREF_PERFORMANCE_INFO</string>
		 <string>SET_PREF_PP_SEQUENCES</string>
		 <string>SET_PREF_PROFILING_INFO</string>
		 <string>SET_PREF_PROOF_INFO</string>
		 <string>SET_PREF_RAISE_ABORT_IMMEDIATELY</string>
		 <string>SET_PREF_RANDOMISE_ENUMERATION_ORDER</string>
		 <string>SET_PREF_SMT</string>
		 <string>SET_PREF_SMT_SUPPORTED_INTERPRETER</string>
		 <string>SET_PREF_SOLVER_FOR_PROPERTIES</string>
		 <string>SET_PREF_SOLVER_STRENGTH</string>
		 <string>SET_PREF_SOURCE_PROFILING_INFO</string>
		 <string>SET_PREF_STATIC_ORDERING</string>
		 <string>SET_PREF_STATIC_SYMMETRY_DETECTION</string>
		 <string>SET_PREF_STORE_DETAILED_TRANSITION_INFOS</string>
		 <string>SET_PREF_SYMBOLIC</string>
		 <string>SET_PREF_SYMMETRY_MODE</string>
		 <string>SET_PREF_TIME_OUT</string>
		 <string>SET_PREF_TK_CUSTOM_STATE_VIEW_PADDING</string>
		 <string>SET_PREF_TK_CUSTOM_STATE_VIEW_STRING_PADDING</string>
		 <string>SET_PREF_TRACE_INFO</string>
		 <string>SET_PREF_TRY_FIND_ABORT</string>
		 <string>SET_PREF_TYPE_CHECK_DEFINITIONS</string>
		 <string>SET_PREF_USE_IGNORE_PRAGMAS</string>
		 <string>SET_PREF_USE_RECORD_CONSTRUCTION</string>
		 <string>HEURISTIC_FUNCTION</string>
		 <string>CUSTOM_GRAPH</string>
		 <string>CUSTOM_GRAPH_EDGES</string>
		 <string>CUSTOM_GRAPH_EDGES0</string>
		 <string>CUSTOM_GRAPH_EDGES1</string>
		 <string>CUSTOM_GRAPH_EDGES2</string>
		 <string>CUSTOM_GRAPH_EDGES3</string>
		 <string>CUSTOM_GRAPH_EDGES4</string>
		 <string>CUSTOM_GRAPH_NODES</string>
		 <string>CUSTOM_GRAPH_NODES0</string>
		 <string>CUSTOM_GRAPH_NODES1</string>
		 <string>CUSTOM_GRAPH_NODES2</string>
		 <string>CUSTOM_GRAPH_NODES3</string>
		 <string>CUSTOM_GRAPH_NODES4</string>
		 <string>ANIMATION_IMG</string>
		 <string>ANIMATION_IMG0</string>
		 <string>ANIMATION_IMG1</string>
		 <string>ANIMATION_IMG2</string>
		 <string>ANIMATION_IMG3</string>
		 <string>ANIMATION_IMG4</string>
		 <string>ANIMATION_IMG5</string>
		 <string>ANIMATION_IMG6</string>
		 <string>ANIMATION_IMG7</string>
		 <string>ANIMATION_IMG8</string>
		 <string>ANIMATION_IMG9</string>
		 <string>ANIMATION_FUNCTION_DEFAULT</string>
		 <string>ANIMATION_FUNCTION</string>
		 <string>ANIMATION_FUNCTION0</string>
		 <string>ANIMATION_FUNCTION1</string>
		 <string>ANIMATION_FUNCTION2</string>
		 <string>ANIMATION_FUNCTION3</string>
		 <string>ANIMATION_FUNCTION4</string>
		 <string>ANIMATION_FUNCTION5</string>
		 <string>ANIMATION_FUNCTION6</string>
		 <string>ANIMATION_FUNCTION7</string>
		 <string>ANIMATION_FUNCTION8</string>
		 <string>ANIMATION_FUNCTION9</string>
		 <string>ANIMATION_RIGHT_CLICK</string>
		 <string>ANIMATION_CLICK</string>
		 <string>ANIMATION_STR_JUSTIFY_LEFT</string>
		 <string>ANIMATION_STR_JUSTIFY_RIGHT</string>
		 <string>ANIMATION_STR</string>
		 <string>ANIMATION_STR1</string>
		 <string>ANIMATION_STR2</string>
		 <string>ANIMATION_STR3</string>
		 <string>ASSERT_CTL</string>
		 <string>ASSERT_LTL</string>
		 <string>CODES_TO_STRING</string>
		 <string>CSP_GUIDE_FILE</string>
		 <string>GOAL</string>
		 <string>SCOPE</string>
		 <string>DO_NOT_ENUMERATE</string>
		 <string>FORCE</string>
		 <string>LEQ_SYM_BREAK</string>
		 <string>REPLACE</string>
		 <string>STRING_APPEND</string>
		 <string>STRING_CONC</string>
		 <string>STRING_LENGTH</string>
		 <string>STRING_SPLIT</string>
		 <string>STRING_JOIN</string>
		 <string>STRING_CHARS</string>
		 <string>STRING_CODES</string>
		 <string>STRING_PADLEFT</string>
		 <string>STRING_REV</string>
		 <string>STRING_TO_INT</string>
		 <string>STRING_TO_LOWER</string>
		 <string>STRING_TO_UPPER</string>
		 <string>STRING_IS_ALPHANUMERIC</string>
		 <string>STRING_IS_DECIMAL</string>
		 <string>STRING_IS_INT</string>
		 <string>STRING_IS_NUMBER</string>
		 <string>STRING_TO_REAL</string>
		 <string>STRING_CONTAINS_STRING</string>
		 <string>STRING_EQUAL_CASE_INSENSITIVE</string>
		 <string>STRING_REPLACE</string>
		 <string>DEC_STRING_TO_INT</string>
		 <string>STRING_TO_ENUM</string>
		 <string>STRING_IS_NUMBER</string>
		 <string>TYPED_STRING_TO_ENUM</string>
		 <string>INT_TO_STRING</string>
		 <string>INT_TO_DEC_STRING</string>
		 <string>INT_TO_HEX_STRING</string>
		 <string>STRINGIFY</string>
		 <string>TO_STRING</string>
		 <string>TO_INT</string>
		 <string>FORMAT_TO_STRING</string>
		 <string>PRINT</string>
		 <string>PRINTF</string>
		 <string>FPRINTF</string>
		 <string>printf</string>
		 <string>vprintf</string>
		 <string>fprintf</string>
		 <string>observe</string>
		 <string>ABS</string>
		 <string>CDIV</string>
		 <string>FDIV</string>
		 <string>GCD</string>
		 <string>MSB</string>
		 <string>COS</string>
		 <string>SIN</string>
		 <string>TAN</string>
		 <string>SQRT</string>
		 <string>FACTORIAL</string>
		 <string>BNOT</string>
		 <string>BAND</string>
		 <string>BOR</string>
		 <string>BXOR</string>
		 <string>BLSHIFT</string>
		 <string>BRSHIFT</string>
		 <string>RANDOM</string>
		 <string>NORMAL</string>
		 <string>random_element</string>
		 <string>random_subset</string>
		 <string>random_ordering</string>
		 <string>random_permutation</string>
		 <string>random_numset</string>
		 <string>READ_FILE_AS_STRING</string>
		 <string>READ_FILE_AS_STRINGS</string>
		 <string>READ_LINE</string>
		 <string>CHOOSE</string>
		 <string>MU</string>
		 <string>REGEX_IMATCH</string>
		 <string>REGEX_IREPLACE</string>
		 <string>REGEX_ISEARCH</string>
		 <string>REGEX_ISEARCH_ALL</string>
		 <string>REGEX_ISEARCH_STR</string>
		 <string>REGEX_MATCH</string>
		 <string>REGEX_REPLACE</string>
		 <string>REGEX_SEARCH</string>
		 <string>REGEX_SEARCH_ALL</string>
		 <string>REGEX_SEARCH_STR</string>
		 <string>IS_REGEX</string>
		 <string>RABS</string>
		 <string>RADIANS</string>
		 <string>DEGREE</string>
		 <string>RAND</string>
		 <string>RCOS</string>
		 <string>RCOT</string>
		 <string>RATAN2</string>
		 <string>REAL</string>
		 <string>REAL_TO_DEC_STRING</string>
		 <string>REPSILON</string>
		 <string>REULER</string>
		 <string>REXP</string>
		 <string>RFRACTION</string>
		 <string>RINTEGER</string>
		 <string>RLOGe</string>
		 <string>RLOG</string>
		 <string>RMAX</string>
		 <string>RMAXIMUM</string>
		 <string>RMAXFLOAT</string>
		 <string>RMIN</string>
		 <string>RMINIMUM</string>
		 <string>RNORMAL</string>
		 <string>RONE</string>
		 <string>ROUND</string>
		 <string>RNEXT</string>
		 <string>RPI</string>
		 <string>RPREV</string>
		 <string>RPOW</string>
		 <string>RSIGN</string>
		 <string>RSQRT</string>
		 <string>RSIN</string>
		 <string>RZERO</string>
		 <string>RTAN</string>
		 <string>SORT</string>
		 <string>SQUASH</string>
		 <string>SUB_STRING</string>
		 <string>HASH</string>
		 <string>SHA_HASH</string>
		 <string>SHA_HASH_HEX</string>
		 <string>READ_CSV</string>
		 <string>READ_CSV_SEQUENCE</string>
		 <string>READ_JSON</string>
		 <string>READ_XML</string>
		 <string>READ_XML_FROM_STRING</string>
		 <string>WRITE_XML</string>
		 <string>WRITE_XML_TO_STRING</string>
		 <string>VISB_DEFINITIONS_FILE</string>
		 <string>VISB_JSON_FILE</string>
		 <string>VISB_SVG_BOX</string>
		 <string>VISB_SVG_CONTENTS</string>
		 <string>VISB_SVG_FILE</string>
		 <string>VISB_SVG_OBJECTS</string>
		 <string>VISB_SVG_OBJECTS0</string>
		 <string>VISB_SVG_OBJECTS1</string>
		 <string>VISB_SVG_OBJECTS2</string>
		 <string>VISB_SVG_OBJECTS3</string>
		 <string>VISB_SVG_OBJECTS4</string>
		 <string>VISB_SVG_OBJECTS5</string>
		 <string>VISB_SVG_OBJECTS6</string>
		 <string>VISB_SVG_OBJECTS7</string>
		 <string>VISB_SVG_OBJECTS8</string>
		 <string>VISB_SVG_OBJECTS9</string>
		 <string>VISB_SVG_OBJECTS10</string>
		 <string>VISB_SVG_OBJECTS11</string>
		 <string>VISB_SVG_OBJECTS12</string>
		 <string>VISB_SVG_OBJECTS13</string>
		 <string>VISB_SVG_OBJECTS14</string>
		 <string>VISB_SVG_OBJECTS15</string>
		 <string>VISB_SVG_OBJECTS16</string>
		 <string>VISB_SVG_UPDATES</string>
		 <string>VISB_SVG_UPDATES0</string>
		 <string>VISB_SVG_UPDATES1</string>
		 <string>VISB_SVG_UPDATES2</string>
		 <string>VISB_SVG_UPDATES3</string>
		 <string>VISB_SVG_UPDATES4</string>
		 <string>VISB_SVG_UPDATES5</string>
		 <string>VISB_SVG_UPDATES6</string>
		 <string>VISB_SVG_UPDATES7</string>
		 <string>VISB_SVG_UPDATES8</string>
		 <string>VISB_SVG_UPDATES9</string>
		 <string>VISB_SVG_HOVERS</string>
		 <string>VISB_SVG_HOVERS0</string>
		 <string>VISB_SVG_HOVERS1</string>
		 <string>VISB_SVG_HOVERS2</string>
		 <string>VISB_SVG_HOVERS3</string>
		 <string>VISB_SVG_HOVERS4</string>
		 <string>VISB_SVG_HOVERS5</string>
		 <string>VISB_SVG_HOVERS6</string>
		 <string>VISB_SVG_HOVERS7</string>
		 <string>VISB_SVG_HOVERS8</string>
		 <string>VISB_SVG_HOVERS9</string>
		 <string>DIRECTORIES</string>
		 <string>DIRECTORY_EXISTS</string>
		 <string>DIRECTORY_PROPERTY</string>
		 <string>DIRECTORY_PROPERTY_VALUE</string>
		 <string>FILE_EXISTS</string>
		 <string>FILE_PROPERTY</string>
		 <string>FILE_PROPERTY_VALUE</string>
		 <string>FILES</string>
		 <string>FULL_DIRECTORIES</string>
		 <string>FULL_FILES</string>
		 <string>MAXIMIZE_EXPR></string>
		 <string>MINIMIZE_EXPR></string>
		 <string>PROB_REQUIRED_VERSION</string>
	 </array>
	 
	 <key>BBLMLanguageCode</key>
	 <string>Bmri</string>
	 <key>BBLMLanguageDisplayName</key>
	 <string>BMachine</string>
	 <key>BBLMScansFunctions</key>
	 <true/>
	 
	 <key>BBLMSuffixMap</key>
	 <array>
		 <dict>
			 <key>BBLMLanguageSuffix</key>    
			 <string>.mch</string>  
			 <key>BBLMIsSourceKind</key>    
			 <true/>         
		 </dict>
		 <dict>
			 <key>BBLMLanguageSuffix</key>    
			 <string>.ref</string>
			 <key>BBLMIsSourceKind</key>    
			 <true/>          
		 </dict>
		 <dict>
			 <key>BBLMLanguageSuffix</key>    
			 <string>.imp</string>
			 <key>BBLMIsSourceKind</key>    
			 <true/>          
		 </dict>
		 <dict>
			 <key>BBLMLanguageSuffix</key>    
			 <string>.def</string>
			 <key>BBLMIsSourceKind</key>    
			 <true/>          
		 </dict>
	 </array>
 
	<key>BBLMCommentPrefixDefault</key>
	 <string>/*</string>
	<key>BBLMCommentSuffixDefault</key>
	 <string>*/</string>
	
	 <key>Language Features</key>
	 <dict>
		 <key>Open Parameter Lists</key>
		 <string>(</string>
		 <key>Close Parameter Lists</key>
		 <string>)</string>
		 
		 <key>Open Strings 1</key>
		 <string>"</string>
		 <key>Close Strings 1</key>
		 <string>"</string>
		 <key>Open Strings 2</key>
		 <string>'''</string>
		 <key>Close Strings 2</key>
		 <string>'''</string>
		 <key>End-of-line Ends Strings 1</key>
		 <true/>
		 <key>End-of-line Ends Strings 2</key>
		 <true/>
		 <key>Escape Char in Strings 1</key>
		 <string>\</string>
		 <key>Escape Char in Strings 2</key>
		 <string></string>
		 <key>Identifier and Keyword Characters</key>
		 <string>0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz_</string>
		 
		 <key>Open Block Comments</key>
		 <string>/*</string>
		 <key>Close Block Comments</key>
		 <string>*/</string>
		<key>Open Line Comments</key>
		<string>//</string>
		
		 <key>Open Statement Blocks</key>
		 <string>{</string>
		 <key>Close Statement Blocks</key>
		 <string>}</string>
		 <key>Prefix for Functions</key>
		 <string></string>
		 <key>Prefix for Procedures</key>
		 <string></string>
		 <key>Terminator for Prototypes 1</key>
		 <string></string>
		 <key>Terminator for Prototypes 2</key>
		 <string></string>
	 </dict>
 </dict>
 </plist> 
