<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <!--
	BBEdit codeless language module for CSP Spec source files.
	
	Built from the BBEedit Template
	by Michael Leuschel (http://www.stups.uni-duesseldorf.de/~leuschel/)
	Date of this version: Aug 2015
	
	Requires BBEdit 8.0 or higher. To install, copy the file to:
		~/Library/Application Support/BBEdit/Language Modules/
		(or /Users/leuschel/Dropbox/Application Support/BBEdit/Language Modules in case you sync with DropBox)
	and relaunch BBEdit.
    This module is licenced under EPL 1.0 (http://www.eclipse.org/org/documents/epl-v10.html) 
-->
<dict>
	<key>BBEditDocumentType</key>
	<string>CodelessLanguageModule</string>
	<key>BBLMColorsSyntax</key>
	<true/>
	<key>BBLMIsCaseSensitive</key>
	<true/>
	<key>BBLMKeywordList</key>
	<array>
		<string>MAIN</string>
		<string>STOP</string>
		<string>SKIP</string>
		<string>CHAOS</string>
		<string>channel</string>
		<string>datatype</string>
		<string>assert</string>
		<string>if</string>
		<string>then</string>
		<string>else</string>
		<string>true</string>
		<string>false</string>
		<string>and</string>
		<string>or</string>
		<string>not</string>
		<string>member</string>
		<string>empty</string>
		<string>null</string>
		<string>elem</string>
		<string>union</string>
		<string>inter</string>
		<string>diff</string>
		<string>card</string>
		<string>Union</string>
		<string>Inter</string>
		<string>Set</string>
		<string>length</string>
		<string>head</string>
		<string>tail</string>
		<string>concat</string>
		<string>set</string>
		<string>transparent</string>
		<string>let</string>
		<string>within</string>
		<string>-&gt;</string>
		<string>-&gt;STOP</string>
		<string>-&gt;SKIP</string>
		<string>-&gt;CHAOS</string>
		<string>-&gt;if</string>
		<string>-&gt;let</string>
		<string>[]</string>
		<string>|~|</string>
		<string>[|</string>
		<string>|]</string>
		<string>|||</string>
		<string>print</string>
	</array>
	<key>BBLMLanguageCode</key>
	<string>CSPM</string>
	<key>BBLMLanguageDisplayName</key>
	<string>CSP</string>
	<key>BBLMScansFunctions</key>
	<true/>
	<key>BBLMSuffixMap</key>
	<array>
		<dict>
			<key>BBLMLanguageSuffix</key>
			<string>.csp</string>
			<key>BBLMIsSourceKind</key>
			<true/>
		</dict>
	</array>
	<key>Language Features</key>
	<dict>
		<key>Close Block Comments</key>
		<string>-}</string>
		<key>Close Parameter Lists</key>
		<string>)</string>
		<key>Close Statement Blocks</key>
		<string>;;</string>
		<key>Close Strings 1</key>
		<string>&quot;</string>
		<key>End-of-line Ends Strings 1</key>
		<true/>
		<key>End-of-line Ends Strings 2</key>
		<true/>
		<key>Escape Char in Strings 1</key>
		<string>\</string>
		<key>Escape Char in Strings 2</key>
		<string></string>
		<key>Identifier and Keyword Characters</key>
		<string>MAINSTOPKCHUchanelsrtdypifuombw-&gt;[]|~\</string>
		<key>Open Block Comments</key>
		<string>{-</string>
		<key>Open Line Comments</key>
		<string>--</string>
		<key>Open Parameter Lists</key>
		<string>(</string>
		<key>Open Statement Blocks</key>
		<string>=</string>
		<key>Open Strings 1</key>
		<string>&quot;</string>
		<key>Prefix for Functions</key>
		<string></string>
		<key>Prefix for Procedures</key>
		<string></string>
		<key>Terminator for Prototypes 1</key>
		<string></string>
		<key>Terminator for Prototypes 2</key>
		<string></string>
	</dict>
</dict>
</plist>
