<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <!--
	BBEdit codeless language module for Prolog source files.
	
	Built from the BBEedit Template
	by Michael Leuschel (http://www.stups.uni-duesseldorf.de/~leuschel/)
	Date of this version: Aug 2015
	
	Requires BBEdit 8.0 or higher. To install, copy the file to:
		~/Library/Application Support/BBEdit/Language Modules/
		(or /Users/leuschel/Dropbox/Application Support/BBEdit/Language Modules in case you sync with DropBox)
	and relaunch BBEdit.
    This module is licenced under EPL 1.0 (http://www.eclipse.org/org/documents/epl-v10.html) 
-->
<dict>
	<key>BBEditDocumentType</key>
	<string>CodelessLanguageModule</string>
	<key>BBLMLanguageCode</key>
	<string>Prol</string>
	<key>BBLMLanguageDisplayName</key>
	<string>Prolog</string>
	<key>BBLMColorsSyntax</key>
	<true/>
	<key>BBLMIsCaseSensitive</key>
	<true/>
	<key>BBLMKeywordList</key>
	<array>
		<string>abolish</string>
		<string>abort</string>
		<string>absolute_file_name</string>
		<string>acyclic_term</string>
		<string>add_breakpoint</string>
		<string>all_different</string>
		<string>all_different_except</string>
		<string>all_distinct</string>
		<string>all_distinct_except</string>
		<string>aggregate</string>
		<string>append</string>
		<string>append_length</string>
		<string>append_queue</string>
		<string>arg</string>
		<string>assert</string>
		<string>asserta</string>
		<string>assertz</string>
		<string>atom</string>
		<string>atom_chars</string>
		<string>atom_codes</string>
		<string>atom_concat</string>
		<string>atom_concat</string>
		<string>atom_length</string>
		<string>atomic</string>
		<string>avl_change</string>
		<string>avl_delete</string>
		<string>avl_del_max</string>
		<string>avl_del_min</string>
		<string>avl_domain</string>
		<string>avl_fetch</string>
		<string>avl_height</string>
		<string>avl_incr</string>
		<string>avl_map</string>
		<string>avl_max</string>
		<string>avl_member</string>
		<string>avl_min</string>
		<string>avl_next</string>
		<string>avl_prev</string>
		<string>avl_range</string>
		<string>avl_size</string>
		<string>avl_store</string>
		<string>avl_to_list</string>
		<string>bagof</string>
		<string>bb_delete</string>
		<string>bb_get</string>
		<string>bb_put</string>
		<string>between</string>
		<string>call</string>
		<string>callable</string>
		<string>call_cleanup</string>
		<string>call_residue</string>
		<string>call_residue_vars</string>
		<string>catch</string>
		<string>char_code</string>
		<string>clause</string>
		<string>close</string>
		<string>clumped</string>
		<string>clumps</string>
		<string>compare</string>
		<string>compound</string>
		<string>contains_var</string>
		<string>convlist</string>
		<string>cons</string>
		<string>consult</string>
		<string>copy_term</string>
		<string>correspond</string>
		<string>create_mutable</string>
		<string>current_prolog_flag</string>
		<string>cumlist</string>
		<string>cyclic_term</string>
		<string>datime</string>
		<string>db_reference</string>
		<string>delete</string>
		<string>dif</string>
		<string>directory_exists</string>
		<string>directory_member_of_directory</string>
		<string>directory_members_of_directory</string>
		<string>elif</string>
		<string>:-elif</string>
		<string>else</string>
		<string>else.</string>
		<string>:-else</string>
		<string>:-else.</string>
		<string>empty_avl</string>
		<string>endif</string>
		<string>endif.</string>
		<string>:-endif</string>
		<string>:-endif.</string>
		<string>end_of_file</string>
		<string>ensure_loaded</string>
		<string>environ</string>
		<string>exclude</string>
		<string>fail</string>
		<string>fd_closure</string>
		<string>fd_degree</string>
		<string>fd_dom</string>
		<string>fd_max</string>
		<string>fd_min</string>
		<string>fd_neighbors</string>
		<string>fd_set</string>
		<string>fd_size</string>
		<string>fd_statistics</string>
		<string>fd_var</string>
		<string>fdset_intersect</string>
		<string>fdset_member</string>
		<string>fdset_parts</string>
		<string>file_exists</string>
		<string>file_member_of_directory</string>
		<string>file_members_of_directory</string>
		<string>file_property</string>
		<string>findall</string>
		<string>float</string>
		<string>forall</string>
		<string>format</string>
		<string>format_to_codes</string>
		<string>free_of_var</string>
		<string>frozen</string>
		<string>functor</string>
		<string>get_atts</string>
		<string>get_code</string>
		<string>get_mutable</string>
		<string>ground</string>
		<string>group</string>
		<string>head</string>
		<string>if</string>
		<string>:-if</string>
		<string>include</string>
		<string>:-include</string>
		<string>integer</string>
		<string>is</string>
		<string>is_avl</string>
		<string>is_list</string>
		<string>is_ordset</string>
		<string>keyclumped</string>
		<string>keyclumps</string>
		<string>keys_and_values</string>
		<string>keysort</string>
		<string>labeling</string>
		<string>last</string>
		<string>length</string>
		<string>library</string>
		<string>list_to_avl</string>
		<string>list_to_ord_set</string>
		<string>maplist</string>
		<string>map_product</string>
		<string>max_member</string>
		<string>member</string>
		<string>memberchk</string>
		<string>min_member</string>
		<string>mutable</string>
		<string>name</string>
		<string>nextto</string>
		<string>nl</string>
		<string>nth</string>
		<string>nth0</string>
		<string>nth1</string>
		<string>nonmember</string>
		<string>nonvar</string>
		<string>number</string>
		<string>number_chars</string>
		<string>number_codes</string>
		<string>numbervars</string>
		<string>on_exception</string>
		<string>op</string>
		<string>once</string>
		<string>one_longer</string>
		<string>open</string>
		<string>open_codes_stream</string>
		<string>ord_add_element</string>
		<string>ord_del_element</string>
		<string>ord_disjoint</string>
		<string>ord_disjoint_union</string>
		<string>ord_intersection</string>
		<string>ord_intersect</string>
		<string>ord_list_to_avl</string>
		<string>ord_member</string>
		<string>ord_nonmember</string>
		<string>ord_seteq</string>
		<string>ord_setproduct</string>
		<string>ord_subset</string>
		<string>ord_subtract</string>
		<string>ord_symdiff</string>
		<string>ord_union</string>
		<string>ordered</string>
		<string>otherwise</string>
		<string>partition</string>
		<string>perm</string>
		<string>perm2</string>
		<string>permutation</string>
		<string>portray_avl</string>
		<string>portray_clause</string>
		<string>prefix</string>
		<string>prefix_length</string>
		<string>print</string>
		<string>print_message</string>
		<string>process_create</string>
		<string>process_id</string>
		<string>process_release</string>
		<string>process_wait</string>
		<string>prolog_flag</string>
		<string>prolog_load_context</string>
		<string>proper_length</string>
		<string>proper_prefix</string>
		<string>proper_prefix_length</string>
		<string>proper_segment</string>
		<string>proper_suffix</string>
		<string>proper_suffix_length</string>
		<string>put_assoc</string>
		<string>put_atts</string>
		<string>put_byte</string>
		<string>put_char</string>
		<string>put_code</string>
		<string>queue_append</string>
		<string>queue_cons</string>
		<string>queue_head</string>
		<string>queue_last</string>
		<string>queue_length</string>
		<string>queue_list</string>
		<string>queue_member</string>
		<string>queue_memberchk</string>
		<string>queue_tail</string>
		<string>remove_dups</string>
		<string>random</string>
		<string>random_member</string>
		<string>random_numlist</string>
		<string>random_perm</string>
		<string>random_permutation</string>
		<string>random_select</string>
		<string>random_subseq</string>
		<string>read</string>
		<string>read_from_codes</string>
		<string>read_line</string>
		<string>read_term</string>
		<string>read_term_from_codes</string>
		<string>remove_dups</string>
		<string>repeat</string>
		<string>retract</string>
		<string>retractall</string>
		<string>rev</string>
		<string>reverse</string>
		<string>rotate_list</string>
		<string>same_length</string>
		<string>scanlist</string>
		<string>see</string>
		<string>seeing</string>
		<string>seen</string>
		<string>segment</string>
		<string>select</string>
		<string>selectchk</string>
		<string>select_max</string>
		<string>select_min</string>
		<string>setof</string>
		<string>shorter_list</string>
		<string>simple</string>
		<string>some</string>
		<string>somechk</string>
		<string>sort</string>
		<string>spy</string>
		<string>statistics</string>
		<string>stream_position</string>
		<string>stream_property</string>
		<string>sub_atom</string>
		<string>sublist</string>
		<string>subseq</string>
		<string>subsumes_term</string>
		<string>sumlist</string>
		<string>suffix</string>
		<string>suffix_length</string>
		<string>tail</string>
		<string>tell</string>
		<string>telling</string>
		<string>term_expansion</string>
		<string>term_hash</string>
		<string>term_variables</string>
		<string>term_variables_bag</string>
		<string>term_size</string>
		<string>throw</string>
		<string>time_out</string>
		<string>told</string>
		<string>transpose</string>
		<string>trace</string>
		<string>trimcore</string>
		<string>true</string>
		<string>unify_with_occurs_check</string>
		<string>unknown</string>
		<string>update_mutable</string>
		<string>var</string>
		<string>variant</string>
		<string>varnumbers</string>
		<string>variant</string>
		<string>verify_attributes</string>
		<string>when</string>
		<string>with_output_to_codes</string>
		<string>write</string>
		<string>write_canonical</string>
		<string>write_term</string>
		<string>write_term_to_codes</string>
		<string>write_to_codes</string>
		<string>writeq</string>
		<string>zip</string>
	</array>
	 
	 <key>BBLMPredefinedNameList</key>
	 <array>
		<string>assert_must_fail</string>
		<string>assert_must_succeed</string>
		<string>assert_post</string>
		<string>assert_pre</string>
		<string>begin_tests</string>
		<string>block</string>
		<string>:-block</string>
		<string>chr_constraint</string>
		<string>chr_option</string>
		<string>discontiguous</string>
		<string>dynamic</string>
		<string>:-dynamic</string>
		<string>end_tests</string>
		<string>meta_predicate</string>
		<string>:-meta_predicate</string>
		<string>mode</string>
		<string>:-mode</string>
		<string>module</string>
		<string>:-module</string>
		<string>multifile</string>
		<string>:-multifile</string>
		<string>public</string>
		<string>:-public</string>
		<string>use_module</string>
		<string>:-use_module</string>
		<string>volatile</string>
		<string>:-volatile</string>
	 </array>
	 
	<key>BBLMSuffixMap</key>
	<array>
		<dict>
			<key>BBLMLanguageSuffix</key>
			<string>.pro</string>
			<key>BBLMIsSourceKind</key>
			<true/>
		</dict>
		<dict>
			<key>BBLMLanguageSuffix</key>
			<string>.gx</string>
			<key>BBLMIsSourceKind</key>
			<true/>
		</dict>
		<dict>
			<key>BBLMLanguageSuffix</key>
			<string>.prob</string>
			<key>BBLMIsSourceKind</key>
			<true/>
		</dict>
		<dict>
			<key>BBLMLanguageSuffix</key>
			<string>.eventb</string>
			<key>BBLMIsSourceKind</key>
			<true/>
		</dict>
	</array>
	<key>BBLMPreferredFilenameExtension</key>
	<string>pl</string>
	<key>BBLMSupportsTextCompletion</key>
	<true/>
	<key>BBLMCanSpellCheckCodeRuns</key>
	<false/>
	<key>BBLMCommentLineDefault</key>
	<string>%</string>
	<key>BBLMCommentPrefixDefault</key>
	<string>/*</string>
	<key>BBLMCommentSuffixDefault</key>
	<string>*/</string>
	<key>BBLMScansFunctions</key>
	<true/>
	<key>Language Features</key>
	<dict>
		<key>Identifier and Keyword Character Class</key>
		<string>A-Za-z0-9_</string>
		
		
		
		<key>Close Block Comments</key>
		<string>*/</string>
		<key>Close Parameter Lists</key>
		<string>)</string>
		<key>Close Statement Blocks</key>
		<string>.</string>
		<key>Close Strings 1</key>
		<string>&quot;</string>
		<key>Close Strings 2</key>
		<string>&apos;</string>
		<key>End-of-line Ends Strings 1</key>
		<true/>
		<key>End-of-line Ends Strings 2</key>
		<true/>
		<key>Escape Char in Strings 1</key>
		<string>\</string>
		<key>Escape Char in Strings 2</key>
		<string>\</string>
		<key>Open Block Comments</key>
		<string>/*</string>
		<key>Open Line Comments</key>
		<string>%</string>
		<key>Open Parameter Lists</key>
		<string>(</string>
		<key>Open Statement Blocks</key>
		<string>:-</string>
		<key>Open Strings 1</key>
		<string>&quot;</string>
		<key>Open Strings 2</key>
		<string>&apos;</string>
	</dict>
</dict>
</plist>
